.bookmarks {
background-color:white;
border: 1px solid gray;
font-size: 14px;
width: 20%;
padding: 10px 5px;
margin-top:20px;

}
.content {
    display: flex;
justify-content: space-around;
padding:10px;
}