@import url('https://fonts.googleapis.com/css?family=Kaushan+Script&display=swap');
.header{
    background-color:#d5c455;
    color:white;
    font-weight: 700;
    text-align: left;
    font-family: 'Kaushan Script', cursive;
    padding: 10px 25px;
    
}
.nav{
    background-color:#d5c455;
    height: 60px;
    display: flex;
    justify-content:left;
    border-bottom: black;
    margin-bottom: 20px;
    
}
.nav a {
    color: #fff;
    font-size:23px;
    text-decoration: none;
}
.nav a:hover {
    text-decoration: none;
    color: white;
  }
.nav li {
    margin-left: 20px;
    list-style-type: none;
    font-family: 'Ibarra Real Nova', serif;
    text-align: center;
    padding: 10px;  
}

